.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative; 
}

@media screen and (max-width: 375px) {
	.row {
		text-align: center;
	}

	.d-flex {
		flex-direction: column;
	}

	
}

@media screen and (max-width: 414px) {
	.row {
		text-align: center;
	}

	.d-flex {
		flex-direction: column;
	}

	
}
